body, html
{

	margin                      : 0px;
	padding                     : 0px;
	background-color            : #ffffff;
	overflow-x                  : hidden;

	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	overflow-x                  : hidden;

	&.navigation-enabled
	{
		overflow : hidden;
	}

}

body
{
	font-size      : 14px;
	min-width      : 100%;
	max-width      : 100%;
	text-rendering : optimizelegibility;

}

.preload
{
	transition : none !important;
}

.container
{
	background-color : #f7f7f7;
	width            : 600px;
	height           : 200px;
	position         : relative;
	margin           : 40px auto;
}

.grid
{
	width              : 98px;
	height             : 98px;
	position           : relative;
	display            : inline-block;
	float              : left;
	border             : 1px solid #cccccc;

	-webkit-transition : 600ms all;
	-moz-transition    : 600ms all;
	-ms-transition     : 600ms all;
	-o-transition      : 600ms all;
	transition         : 600ms all;


}

.panel
{
	width      : 98px;
	height     : 98px;
	position   : absolute;
	top        : 0px;
	left       : 0px;
	text-align : center;
	font-size  : 60px;

}

