Transitional Elements

<div class="container" id="grid-container">
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>
	<span class="grid"></span>

	<span class="panel" id="panel-0" ng-mouseover="onHover(0)">1</span>
	<span class="panel" id="panel-1" ng-mouseover="onHover(1)">2</span>
	<span class="panel" id="panel-2" ng-mouseover="onHover(2)">3</span>
	<span class="panel" id="panel-3" ng-mouseover="onHover(3)">4</span>
	<span class="panel" id="panel-4" ng-mouseover="onHover(4)">5</span>
	<span class="panel" id="panel-5" ng-mouseover="onHover(5)">6</span>


</div>

